<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="65" android:versionName="1.1.1.3877" package="com.ecareme.asuswebstorage"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <original-package android:name="com.ecareme.asuswebstorage" />
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" />
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:name="com.ecareme.asuswebstorage.ASUSWebstorage" android:debuggable="false">
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.common.SplashActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.capture.QuickUploadActivity" android:configChanges="keyboardHidden|navigation|orientation" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.attribute.AllSharesActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.attribute.RecentChangesActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.attribute.RecentUploadFilesActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.common.CloseActivity" android:configChanges="keyboardHidden|navigation|orientation" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.common.AttributeActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.common.SpaceActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.common.LoginActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.common.RegisterActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.common.MacActivity" android:configChanges="keyboardHidden|navigation|orientation" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.common.ActivateActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.common.HomeActivity" android:clearTaskOnLaunch="true" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.navigate.BrowseActivity" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.search.SearchActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.search.SavedActivity" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.search.ResultActivity" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.present.FilePreviewActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation" android:noHistory="false" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.present.TextActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation|orientation" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.present.MusicActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation|orientation" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:name="net.yostore.aws.view.present.GalleryActivity" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.capture.AudioActivity" android:configChanges="keyboardHidden|navigation|orientation" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.capture.NoteActivity" android:configChanges="keyboardHidden|navigation|orientation" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.capture.FileActivity" android:configChanges="keyboardHidden|navigation" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.capture.FolderActivity" android:configChanges="keyboardHidden|navigation|orientation" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.capture.ConfirmActivity" android:configChanges="keyboardHidden|navigation|orientation" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.common.SettingActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation|orientation" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.common.ClearNotificationActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation|orientation" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.navigate.UploadQueueActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.navigate.DownloadQueueActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.common.OOBEActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name="net.yostore.aws.view.common.RegisterAfterActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|navigation|orientation" android:noHistory="true" />
        <service android:name="net.yostore.aws.service.AWSService" android:enabled="true">
            <intent-filter>
                <action android:name="net.yostore.aws.service.AWSServiceInterface" />
            </intent-filter>
        </service>
        <service android:name="net.yostore.aws.service.DownloadService" android:enabled="true">
            <intent-filter>
                <action android:name="net.yostore.aws.service.DownloadServiceInterface" />
            </intent-filter>
        </service>
    </application>
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <receiver android:label="NetworkConnection" android:name="net.yostore.utility.ConnectionChangeReceiver">
        <intent-filter>
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        </intent-filter>
    </receiver>
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
</manifest>
