<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="13" android:versionName="3.2-US_epad-8.6.5.6-20110726" package="com.android.calculator2"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="13" android:targetSdkVersion="13" />
    <original-package android:name="com.android.calculator2" />
    <application android:label="@string/app_name" android:icon="@mipmap/ic_launcher_calculator">
        <activity android:theme="@android:style/Theme.Holo.NoActionBar" android:name="Calculator" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
