<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.system" android:versionCode="13" android:versionName="3.2-US_epad-8.6.5.6-20110726" package="com.android.providers.settings"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="13" android:targetSdkVersion="13" />
    <application android:label="@string/app_label" android:icon="@drawable/ic_launcher_settings" android:allowClearUserData="false" android:process="system" android:backupAgent="SettingsBackupAgent" android:killAfterRestore="false">
        <provider android:name="SettingsProvider" android:writePermission="android.permission.WRITE_SETTINGS" android:multiprocess="false" android:authorities="settings" android:initOrder="100" />
    </application>
</manifest>
