<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="1.5.2" package="com.asus.filemanager"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:theme="@android:style/Theme.Holo" android:label="@string/file_manager" android:icon="@drawable/asus_ep_apic_filemanager" android:name="com.asus.filemanager2.activity.FileManagerApplication" android:hardwareAccelerated="true">
        <receiver android:name=".main.ReceiveEvent">
            <intent-filter>
                <action android:name="com.asus.filemanager.MAIN" />
                <category android:name="LaunchPath" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <activity android:theme="@style/Theme.FileManagerActivity" android:label="@string/file_manager" android:name="com.asus.filemanager2.activity.FileManagerActivity" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity-alias android:label="@string/file_manager" android:name="com.asus.filemanager.main.MainPage" android:targetActivity="com.asus.filemanager2.activity.FileManagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity-alias>
    </application>
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="11" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>
