<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="13" android:versionName="3.2-150265" package="com.google.android.inputmethod.latin"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="13" android:targetSdkVersion="13" />
    <original-package android:name="com.android.inputmethod.latin" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application android:label="@string/english_ime_name" android:icon="@drawable/icon" android:backupAgent="com.android.inputmethod.latin.BackupAgent" android:killAfterRestore="false">
        <service android:label="@string/english_ime_name" android:name="com.android.inputmethod.latin.LatinIME" android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>
        <activity android:label="@string/english_ime_settings" android:name="com.android.inputmethod.latin.Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:label="@string/english_ime_debug_settings" android:name="com.android.inputmethod.latin.DebugSettings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:label="@string/language_selection_title" android:name="com.android.inputmethod.latin.InputLanguageSelection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.android.inputmethod.latin.INPUT_LANGUAGE_SELECTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
